@font-face {
  font-family: 'FontAwesome';
  src: url('fonts/fontawesome-webfont.eot?v=4.2.0');
  src: url('/fonts/fontawesome-webfont.eot?#iefix&v=4.2.0') format('embedded-opentype'), url('fonts/fontawesome-webfont.woff?v=4.2.0') format('woff'), url('fonts/fontawesome-webfont.ttf?v=4.2.0') format('truetype'), url('fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

* {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
img { max-width: 100%; height: auto; width: auto\9; /* ie8 */ border:none; }
strong { font-weight:700;}
a { color:#cd7400; text-decoration:none;}
a:hover { color:#315e76; text-decoration:none;}

body { padding:0; margin:0; font-family:'Open Sans', sans-serif; font-size:1em; color:#384252; background:ffffff;}
header { width:100%; padding:0 1%; background:#ea9322; float:left;}
header nav { width:85%; float:left;}
header div { width:15%; float:left;}
header ul { padding:0; margin:0; list-style:none;}
header ul li { display:inline-block; text-align:center; text-transform:uppercase; font-size:0.75em;}
header a { color:#ffffff; display:inline-block; padding:1.5em 1em; transition: all 0.3s}
header a:hover, header a:focus { color:#384252; background:#384252; color:#ffffff;}
header a img { transition: all 0.5s}
header a:hover img { transform: scale(1.4) translateY(-2px) }
header div ul li { float:right;}
.header-image, .inner-image { width:100%; float:left; position:relative; padding:0; margin:0; text-align:center;}
.cat-post { width:25%; float:left; padding:1em 2%;}
.cat-post:nth-of-type(4n+1) { clear:left;}
.cat-post h3 { padding:0; margin:0; font-size:1em; font-weight:700; text-transform:uppercase;}
.main-content {width:100%; float:left; position:relative; margin:1em 0 0;}
.date { width:40%; float:left; font-size:0.75em; color:#838383; text-transform:uppercase; margin-top:2em}
.share-buttons { width:60%; float:left;margin-top:1em}
.post-text { width:100%; float:left;
overflow-wrap: break-word; word-wrap: break-word;
-webkit-hyphens: auto; -ms-hyphens: auto; -moz-hyphens: auto; hyphens: auto;}
.post-text p { padding:0.8em 0 0; margin:0;}
.read-more {width:30%; float:left; font-size:0.75em; text-transform:uppercase; margin-top:2em}
.read-more a { display:inline-block; border:1px solid #cd7400; padding:0.5em 5%;}
.read-more a:hover, .read-more a:focus {border:1px solid #315e76;}
.cat-post .post-comments { width:70%; float:left;margin-top:2em; font-size:0.75em; text-transform:uppercase; color:#838383; padding:0.5em 0; text-align:right;}

.pagination { width:100%; float:left; position:relative; padding:1em 2%; background:#ebebeb; margin:1em 0 0;}
.pagination a { float:left; font-size:0.75em; text-transform:uppercase; padding:0.5em 0;}
.pagination a:last-of-type { float:right;}

/* FlexSlider Default Theme
*********************************/
.flexslider { margin:0; position: relative; zoom: 1; }
.flexslider:before { display:block; width:100%; height:100%; position:absolute; top:0; left:0; background:rgba(83,152,183, .5); content:''; z-index:10}
.flex-viewport { max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }

.loading .flex-viewport { max-height: 300px; }
.flexslider .slides { zoom: 1; list-style:none; padding:0; margin:0; }
.flexslider {margin: 0; padding: 0; max-height:430px; overflow:hidden}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; height: 100%; display: block;}

.header-image hgroup { position:absolute;z-index:20 !important; top:2em; width:100%; text-align:center;}
.about-author { position:absolute; z-index:20 !important; text-align:center; width:100%; color:#ffffff; text-shadow:1px 1px 1px #000; left:0; bottom:2em;}
.about-author .body { padding:0; margin:0 auto; width:100%; max-width:1200px;}
.header-image h2.site-description { padding:0; margin:0;font-family:'Open Sans', sans-serif; font-size:0.75em; text-transform:uppercase; font-weight:400; color:#ffffff;  text-shadow:1px 1px 1px #000;}
.inner-image h2.site-description { padding:0; margin:0;font-family:'Open Sans', sans-serif; font-size:0.75em; text-transform:uppercase; font-weight:400;}
.header-image hgroup h1 { padding:0; margin:0;}
.avatar { border-radius:50%; border:3px solid #ffffff; transition: all 0.5s;}
.avatar:hover { transform: scale(1.1) rotate(3deg); box-shadow: 0 0 10px 1px black }

.mobile { display: none; margin:0; padding:1.2em 0.5em; color: white; text-decoration: none; line-height: 0; font-size:0.75em; text-transform:uppercase; margin:0 auto; -webkit-border-radius:2px; border-radius:2px;}
.active { max-height: 9000px !important; -moz-transition-duration: 1s; -o-transition-duration: 1s; -webkit-transition-duration: 1s; transition-duration: 1s;}
.mobile em {font-family: 'FontAwesome'; font-style:normal;}
.search { width:100%; float:left; position:relative; padding:1em 2%; background:#d7d7d7; margin:0; text-align:center;}
.search form {border-bottom:1px solid #384252; width:auto; display:inline-block;}
.s { padding:0 0 0 2%; margin:0; width:260px; height:30px;  background: none; border:none;  font-family:'Open Sans', sans-serif; font-size:0.875em; font-style:italic; color:#384252;}
.search-button { padding:0; margin:0; width:24px; height:30px; background:url(../img/search.png) no-repeat center center; background:url(../img/search.svg) no-repeat center center; border:none;}
.footer-widgets { padding:0; margin:0; width:100%; float:left;padding:1em 2%; background:url(../img/pattern2.png) repeat;}
.footer-widgets article { float: left; padding:1em 2%; width: 25%;}
.footer-widgets article .text-widget { width:100%; float:left; margin-bottom:1em;}
.footer-widgets article ul { padding:0; margin:1em 0 0; list-style:none;}
.footer-widgets article ul li { padding:0; margin:0 0 0.5em;}
.footer-widgets article ul li:before { content:'→'; font-family:Arial, Helvetica, sans-serif; font-size:0.875em; padding:0 2% 0 0; color:#cd7400}
.footer-widgets article ul li a { color:#000; font-size:0.875em; text-transform:uppercase;}
.footer-widgets article ul li a:hover { text-decoration:underline;}
.footer-widgets article h3 { padding:0; margin:0; color:#fff; text-transform:uppercase; text-shadow:1px 1px 0 #384252;}
.footer-widgets article:nth-of-type(4n+1) { clear:left;}

/* Inner Pages */
.main-content h1 { padding:1em 5%; margin:0; text-align:center; font-family:'Open Sans', sans-serif; font-size:2em; font-weight:700; position:relative;}
.main-content h1 strong {font-weight:700; text-transform:uppercase;}
.main-content h1:before { content:''; display:block; position:absolute; width:50px; height:2px; background:#d7d7d7; left:50%; margin-left:-25px; top:0.5em;}
.main-content h1:after { content:''; display:block; position:absolute; width:100px; height:2px; background:#d7d7d7; left:50%; margin-left:-50px; bottom:0.5em;}
.post-content { padding:0 0 1em 0; margin:0 auto; width:100%; max-width:1200px;}
.post-meta { width:100%; float:left; clear:both;display:table}
.post-meta .date { width:50%; float: none; display:table-cell; font-size:0.75em; color:#838383; text-transform:uppercase; margin-top:0; text-align:right; vertical-align:middle; padding:0 2%;}
.post-meta .share-buttons { width:50%; float: none; display:table-cell; margin-top:0; text-align:left; vertical-align:middle; padding:0 2%;}
.post-text .featured-image { float:left; margin-right:3%;}
.post-text h2 {padding:1em 0 0; margin:0; font-family:'Open Sans', sans-serif; font-size:1.5em; font-weight:700;}
.post-text ul, .post-text ol { padding:0.5em 0 0 5%; margin:0;}
.post-text li { padding:0.3em 0;}

.tagged { width:100%; float:left; margin-top:1.5em; padding:1em 2%; background:#f3f3f3; -webkit-border-radius:5px; border-radius:5px; font-size:85%;}
.tagged a { display:inline-block; background:#ffffff; padding:0.2em 1%; margin:0.2em; -webkit-border-radius:5px; border-radius:5px; white-space:nowrap;}
.tagged a:hover { display:inline-block; background:#cd7400; color:#ffffff; padding:0.2em 1%; margin:0.2em; -webkit-border-radius:5px; border-radius:5px; white-space:nowrap;}
.post-content .post-comments { width:100%; float:left;margin-top:2em; font-size:0.75em; text-transform:uppercase; color:#838383; padding:0.5em 0; text-align:center; border-bottom:1px solid #ea9322}

.comments { width:100%; float:left; margin-top:1.5em;}
.comments h2 a { font-size:0.75em; text-transform:uppercase; padding-left:2%}

.comments ol  { padding:0; margin:0; list-style:none;}
.comments ol li { border:1px solid #f3f3f3; /*padding:0 3%;*/  padding: 10px; -webkit-border-radius:5px; border-radius:5px; margin-bottom:0.5em; margin: 30px 0;}
.comments cite { font-size:0.875em; color:#315e76}

h2#postcomment { font-size:0.875em; text-transform:uppercase; margin-top:3em; padding-top:1em; border-top:1px solid #f3f3f3;}
#commentform input[type=text] { padding:0; padding-left: 10px; margin:0; width:30%; height:3em; border:1px solid #d9d9d9; -webkit-border-radius:5px; border-radius:5px; font-size:0.875em; /*font-style:italic;*/ color:#384252}
#commentform textarea { padding:10px; margin:0; width:50%; height:13em; border:1px solid #d9d9d9; -webkit-border-radius:5px; border-radius:5px; font-size:1.3em; /*font-style:italic;*/ color:#384252}
#commentform input[type=submit] { padding:0 3%; margin:0; width: auto; height:3em; border:1px solid #ea9322; -webkit-border-radius:5px; border-radius:5px; font-size:0.875em; text-transform:uppercase; color:#ffffff; background:#ea9322;}

h1.site-title { margin-bottom:0.5rem;}
#contacts-left { width:50%; float:left; padding-right:2%;}
#contacts-right { width:50%; float:left; padding-left:2%;}

.post-text h3 { padding:0; margin:1.5em 0 0; font-family:'Open Sans', sans-serif; font-size:1.2em; font-weight:700; }
/* .post-text h3 + p { padding:0; margin:0 0 1em; font-weight:700;} */
ul.courseIcons { float:right; list-style:none; width:30%; font-size:.875em; margin-top:4em; background:#f3f3f3; -webkit-border-radius:5px; border-radius:5px; padding:1em 2%; margin-left:1em; margin-bottom:1em;}
ul.courseIcons li { display:inline-block; background:#ffffff; padding:0.2em 3%; margin:0.2em; -webkit-border-radius:20px; border-radius:20px; overflow-wrap: break-word; word-wrap: break-word;
-webkit-hyphens: auto; -ms-hyphens: auto; -moz-hyphens: auto; hyphens: auto;}
ul.courseIcons li:hover { display:inline-block; background:#315e76; color:#ffffff; padding:0.2em 3%; margin:0.2em; -webkit-border-radius:20px; border-radius:20px; white-space:nowrap;}

#contacts-left ul, #contacts-right ul { padding:0; margin:0; list-style:none;}
#contacts-left ul li, #contacts-right ul li { display:block; position:relative;}
li.email:before { display:block; float:left;font-family: 'FontAwesome'; font-size:1.3rem; color:#315e76;content: "\f0e0"; padding-right:1em;}
li.LinkedIn:before { display:block; float:left;font-family: 'FontAwesome'; font-size:1.3rem; color:#315e76;content: "\f08c"; padding-right:1em;}
li.fb:before { display:block; float:left;font-family: 'FontAwesome'; font-size:1.3rem; color:#315e76;content: "\f082"; padding-right:1em;}
li.tw:before { display:block; float:left;font-family: 'FontAwesome'; font-size:1.3rem; color:#315e76;content: "\f081"; padding-right:1em;}
li.googleplus:before { display:block; float:left;font-family: 'FontAwesome'; font-size:1.3rem; color:#315e76;content: "\f0d4"; padding-right:1em;}
li.web:before { display:block; float:left;font-family: 'FontAwesome'; font-size:1.3rem; color:#315e76;content: "\f0c1"; padding-right:1em;}

.fw a {display: inline-block;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.75em;
}
img.attachment-post-thumbnail {float: left !important ; padding-right: 15px; padding-bottom: 15px;}

@media screen and (max-width: 600px) {
#wpadminbar {position: fixed !important;}

}

ul.children {list-style-type: none; padding-left: 10px;}

iframe {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	
}


.comment-body {
	
    padding: 10px 0;		
	
}


/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

header ul li a {
	display: inline-block;
}